<!DOCTYPE html>
<html ng-app="Prueba1">
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> Angular1</title>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

</head>
<body>
        http://angularfirst.com/your-first-angular-project-in-visual-studio/
        https://blogs.msdn.microsoft.com/visualstudio/2015/02/05/using-angularjs-in-visual-studio-2013/

        <input type="text" ng-model="campotexto"/>
        <input type="text" ng-model="campotexto"/>
      

</body>
</html>
